.cart {
  align-items: center;
  height: auto;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 40rem;
  background-color: #fff;
  position: relative;
  border-radius: 1rem;

  .form {
    width: 95%;
    margin: auto;
    form {
      display: flex;
      flex-direction: column;
      text-align: left;
      .control {
        margin-bottom: 0.5rem;
        &.invalid {
          label {
            color: #ca3e51;
          }
          input {
            border-color: #aa0b20;
            background-color: #ffeff1;
          }
          p {
            color: red;
            margin: 0;
          }
        }
        label {
          font-weight: bold;
          margin-bottom: 0.25rem;
          display: block;
          color: rgb(88, 88, 88);
        }
        input {
          border: 1px solid rgb(88, 88, 88);
          border-radius: 4px;
          width: 20rem;
          height: 1.5rem;
          font-size: 1.25rem;
          max-width: 100%;
        }
        height: 5rem;
      }
    }
    .order {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        min-width: 6rem;
        border: 1px darkred solid;
        border-color: darkred;
        border-radius: 2rem;
        margin-bottom: 3rem;
        cursor: pointer;
        &.cancel-button:hover {
          background-color: darkred;
          color: #fff;
          transition: all 0.3s ease-out;
        }
        &.confirm-button {
          &:disabled {
            cursor: not-allowed;
            &:hover {
              background-color: rgba(139, 0, 0, 0.7);
            }
          }
          background-color: rgb(167, 1, 1);
          color: #fff;

          &:hover {
            background-color: darkred;
            transition: all 0.3s ease-out;
          }
        }
      }
    }
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  ul {
    font-size: 1rem;
    margin: auto;
    padding: 2rem 0 1rem 0;
    width: 95%;
    list-style: none;
    border-bottom: 2px black solid;
    li {
      display: flex;
      justify-content: space-between;
      margin: 0;
      .buttons {
        display: flex;
        .plus {
          cursor: pointer;
          background-color: #fff;
          align-items: center;
          font-size: 1.5rem;
          width: 3rem;
          margin: 1rem 0.3rem;
          border: 1px darkred solid;
          color: darkred;
          border-radius: 0.4rem;
          &:hover {
            background-color: darkred;
            color: #fff;
          }
        }
      }
      .order {
        margin: 0;
        padding: 0;
        text-align: left;
        h2 {
          padding: 0;
          margin: 0;
        }
        .detail {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .price {
            color: darkred;
            font-weight: bold;
          }
          .icon {
            border: 1px gray solid;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            width: 3rem;
            margin-left: 4rem;
            padding: 0.5rem 0;
            border-color: silver;
            color: darkslategrey;
            border-radius: 0.4rem;
          }
        }
      }
    }
  }
}
