.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  background-color: #8a2b06;
  .wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .logo {
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      align-items: center;
    }
    .header-cart {
      &.bump {
        transform: scale(1.05);
        transition: all 0.3 ease-out;
      }
      cursor: pointer;
      display: flex;
      border: 0;
      border-radius: 2rem;
      justify-content: center;
      background-color: rgb(86, 6, 6);
      padding: 0.75rem 3rem;
      gap: 1rem;
      color: #fff;
      align-items: center;
      transition: background-color 0.3s ease, transform 0.3s ease;
      &:hover {
        background-color: #321103;
        transform: scale(0.95);
      }

      .cart-counter {
        background-color: darkred;
        color: white;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
      }
      .text-icon {
        display: flex;
        font-size: 1rem;
        margin: 0;
        gap: 0.5rem;
        align-items: center;
        h3 {
          line-height: 1rem;
          margin: 0;
        }
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
